<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">DD</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Tasks</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <dd-tasks-info></dd-tasks-info>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">{{userToken}}</p>
    </div>
</footer>