<div class="row" style="padding-top: 60px">
    <button class="btn btn-primary" (click)="lgModal.show()">Create task</button>

    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Create task</h4>
                </div>
                <div class="modal-body">
                    <form #createTaskForm="ngForm">
                        <div class="form-group">
                            <label for="srcInput">Src</label>
                            <input [(ngModel)]="src" type="text" class="form-control" id="srcInput" required name="src">
                        </div>
                        <div class="form-group">
                            <label for="algorithmInput">Algorithm</label>
                            <select [(ngModel)]="algorithm" class="form-control" id="algorithmInput" required
                                    name="algorithm">
                                <option value="MD5">md5</option>
                                <option value="SHA1">sha-1</option>
                                <option value="SHA256">sha-256</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default" (click)="createTask()"
                                [disabled]="!createTaskForm.form.valid">Submit
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>src</th>
                <th>algorithm</th>
                <th>status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks" (click)="selectTask(task)">
                <td>{{task.id}}</td>
                <td>{{task.src}}</td>
                <td>{{task.algorithm}}</td>
                <td>{{task.status}} ({{task.duration}} sec.)</td>
                <td>
                    <a *ngIf="canCancel(task)" class="btn btn-default" (click)="cancelTask(task)">Cancel</a>
                    <a *ngIf="canDelete(task)" class="btn btn-default" (click)="deleteTask(task)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination-center">
            <pagination [totalItems]="page.total" [(ngModel)]="page.page" [maxSize]="10" [boundaryLinks]="true"
                        [directionLinks]="false"
                        (pageChanged)="pageChanged($event)"></pagination>

        </div>
    </div>
    <div class="col-md-4">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">id</th>
                <td>{{selectedTask?.id}}</td>
            </tr>
            <tr>
                <th scope="row">src</th>
                <td>{{selectedTask?.src}}</td>
            </tr>
            <tr>
                <th scope="row">algorithm</th>
                <td>{{selectedTask?.algorithm}}</td>
            </tr>
            <tr>
                <th scope="row">status</th>
                <td>{{selectedTask?.status}}</td>
            </tr>
            <tr *ngIf="selectedTask?.result">
                <th scope="row">result</th>
                <td>{{selectedTask?.result}}</td>
            </tr>
            <tr *ngIf="selectedTask?.error">
                <th scope="row">error</th>
                <td>{{selectedTask?.id}}</td>
            </tr>
            <tr>
                <th scope="row">createdAt</th>
                <td>{{selectedTask?.createdAt}}</td>
            </tr>
            <tr *ngIf="selectedTask?.startedAt">
                <th scope="row">startedAt</th>
                <td>{{selectedTask?.startedAt}}</td>
            </tr>
            <tr *ngIf="selectedTask?.finishedAt">
                <th scope="row">finishedAt</th>
                <td>{{selectedTask?.finishedAt}}</td>
            </tr>
            <tr>
                <th scope="row">canceled</th>
                <td>{{selectedTask?.canceled}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>